.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: rgb(81, 101, 255);
  height: 10vh;
  .logo {
    font-size: larger;
    color: rgba(255, 255, 255, 0.959);
    font-weight: bold;
    font-family: sans-serif;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    color: rgba(255, 255, 255, 0.959);
    font-weight: bold;
    font-family: sans-serif;
  }
}
