.home-page {
  display: flex;
  height: 89vh;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.add-user {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  .add-user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    // border: 1px solid gray;
    padding: 3rem;
    border-radius: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      font-family: sans-serif;
      label {
        font-size: 1rem;
      }
      input {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(206, 199, 199);
        outline: none;
      }
    }
  }
}

.show-users {
  display: flex;
  flex: 2;
  justify-content: center;
  padding-top: 3rem;

  height: 100%;

  .user-table {
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-height: 70%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 1.2rem;
  }

  .user-table th,
  .user-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-overflow: ellipsis;
    text-align: center;
    height: 50px;
    input {
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      padding: 0.4rem 1.4rem;
    }
  }

  .user-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-transform: uppercase;
  }

  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .user-table tr:hover {
    background-color: #e9ecef;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(206, 199, 199);
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(206, 199, 199);
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  button:nth-child(2) {
    margin: 0 0.5rem;
    background-color: #f84758;
  }

  button:nth-child(2):hover {
    margin: 0 0.5rem;

    background-color: #ff4356;
  }
}
